/****** Smartphones ******/

/* All grid items to become 1 column */

@media (max-width: 500px) {
	#gallery-section > div {
		display: grid;
		grid-template-columns: 1fr;
	}

	#about-section .about-container {
		display: grid;
		grid-template-columns: 1fr;
	}

	#contact-section {
		display: grid;
		grid-template-columns: 1fr;

		margin-top: 11rem;
	}

	#contact-section > div.contact-img1 {
		width: auto;
		height: 40vh;
		border-radius: 10px;
	}

	/* Footer */

	body > footer > div {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		align-items: center;
	}
}

/* Tachyons breakpoints

-ns ‘not small’, media query is screen and (min-width: 30em)
-m ‘medium’, media query is screen and (min-width: 30em) and (max-width: 60em)
-l ‘large’, media query is screen and (min-width: 60em) */
