* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Yusei Magic", sans-serif;
}

h1,
h2 {
	font-family: "Permanent Marker", cursive;
}
/*--------------------------- Color palette 1 */
.color-palette-1 {
	color: #211930;
	color: #9da759;
	color: #f68658;
	color: #c7002f;
	color: #ccb9ab;
	color: #ebf5ee;
	color: #d06e95;
	color: #009aa9;
	color: #09070d;
	color: #002529;
}

.color-palette-2 {
	color: #002a52;
	color: #006594;
	color: #0088c2;
	color: #009efa;
	color: #dbfbff;
	color: #a8001f;
	color: #ff6d2e;
	color: #7ad7ff;
	color: #ff428e;
	color: #000b14;
	color: #613d97;
	color: #7ac043;
}
/*---------------------------- Color palette 1 */

.bottom-line {
	height: 2px;
	width: 3rem;
	background: #ff428e;
	display: block;
	margin: 0 auto 1rem auto;
}

.bottom-line2 {
	height: 2px;
	width: 3rem;
	background: #dbfbff;
	display: block;
	margin: 0 auto 1rem auto;
}

.bottom-line3 {
	height: 2px;
	width: 3rem;
	background: #ffb700;
	display: block;
	margin: 0 auto 1rem auto;
}

/*---------------------------- Navigation */

nav {
	z-index: 1;
}

/* Custom hover colours nav items */
body
	> nav
	> div.tc.center.mt2.flex.justify-center.bg-white.bt.bb.bw2.b--near-white
	> a:nth-child(1):hover {
	background-color: #613d97;
	color: #fff;
}
body
	> nav
	> div.tc.center.mt2.flex.justify-center.bg-white.bt.bb.bw2.b--near-white
	> a:nth-child(2):hover {
	background-color: #ff6d2e;
	color: #fff;
}
body
	> nav
	> div.tc.center.mt2.flex.justify-center.bg-white.bt.bb.bw2.b--near-white
	> a:nth-child(3):hover {
	background-color: #7ac043;
	color: #fff;
}
body
	> nav
	> div.tc.center.mt2.flex.justify-center.bg-white.bt.bb.bw2.b--near-white
	> a:nth-child(4):hover {
	background-color: #ff428e;
	color: #fff;
}

/* Whole nav stlying */
body > nav {
	background: #000b14;
}

/* Background image for bottom part of nav bar */

body > nav > div.tc.center.mt2.flex.justify-center.bg-white {
	background: url(/images/gaagii-jangle-art-print-background-native-aztec-african-tribal-hipster-folk-pattern-colourful-vasare-trend-design-textile-designers2.jpg)
		center right;
}

/* Overide tachyon default dotted outline on .link */
.link:focus {
	transition: color 0.15s ease-in;
	outline: 1px none currentColor;
}

.sticky {
	position: fixed;
	top: 0%;
	width: 100%;
}

/*---------------------------- Navigation */

/*---------------------------- Header & showcase content */
#showcase {
	background: linear-gradient(rgba(255, 66, 142, 0.1), rgba(0, 0, 0, 0.5)),
		url(/images/product/AnitasKitchen-20.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.8);
}

/*---------------------------- Header & showcase content */

/*---------------------------- About section */
#about-section {
	background-color: #ff6d2e;
}
#about-section .about-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
}

/*---------------------------- About section */

/*---------------------------- Testimonials section */

#testimonial-section {
}
.slick-next:before,
.slick-prev:before {
	color: #ff6d2e;
}

.slick-dots li button:before {
	font-size: 10px;
}

/*---------------------------- Testimonials section */

/*---------------------------- Arrow animation */

/* Hover.css */
/* Bob */
@-webkit-keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}
@keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}
@-webkit-keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}
@keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}
.hvr-bob {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: 0.3s, 1.5s;
	animation-duration: 0.3s, 1.5s;
	-webkit-animation-delay: 0s, 0.3s;
	animation-delay: 0s, 0.3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}

/* Hang */
@-webkit-keyframes hvr-hang {
	0% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
	50% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
	100% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
}
@keyframes hvr-hang {
	0% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
	50% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
	100% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
}

@-webkit-keyframes hvr-hang-sink {
	100% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
}
@keyframes hvr-hang-sink {
	100% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
}
.hvr-hang {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	color: #ffffff;
}
.hvr-hang:hover,
.hvr-hang:focus,
.hvr-hang:active {
	-webkit-animation-name: hvr-hang-sink, hvr-hang;
	animation-name: hvr-hang-sink, hvr-hang;
	-webkit-animation-duration: 0.3s, 1.5s;
	animation-duration: 0.3s, 1.5s;
	-webkit-animation-delay: 0s, 0.3s;
	animation-delay: 0s, 0.3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
	color: #ff6300;
}

/* Hover.css */

/*---------------------------- Arrow animation */

/* --------------------------- Menu */
#menu-section {
	margin-top: 12.15rem;
}
/* Overide Tachyon z-index class to position images behind nav on scroll */
.aspect-ratio--object {
	z-index: -1;
}

/* --------------------------- Menu */

/* --------------------------- Gallery */

#gallery-section {
	margin-top: 18rem;
	margin-bottom: 5rem;
}
.gallery-container {
	max-width: 900px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 4px 6px;
	margin: 32px auto;
}

.gallery-container img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
#gallery-section > div > a {
	cursor: zoom-in;
}

.lightboxOverlay {
	outline: none;
}
/* --------------------------- Gallery */

/* --------------------------- Contact Form */

#contact-section {
	margin-top: 13rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
	background-color: #ff6d2e;
}

#contact-section > div.center.ph0.mh0 > div {
	background: linear-gradient(rgba(255, 66, 142, 0.1), rgba(0, 0, 0, 0.6)),
		url(/images/product/AnitasKitchenBATCH2-30.jpg) no-repeat center center;
	background-size: cover;
	border: 4px solid #7ad7ff;
}

#contact-section .contact-img1 {
	background: url(/images/people/AnitasKitchenBATCH2-20.jpg) no-repeat center
		center;
	background-size: cover;
	border: 6px solid #7ad7ff;
}

#contact-section i {
	color: #7ad7ff;
}

/* Overide tachyon styling to center button */
#contact-section button {
	background-color: #7ad7ff;
	color: #794fb8;
}
#contact-section button:hover {
	background-color: #794fb8;
	color: #7ad7ff;
}
/* --------------------------- Contact Form */

/*---------------------------- Footer */
footer {
	background-color: #000b14;
	background: url(/images/gaagii-jangle-art-print-background-native-aztec-african-tribal-hipster-folk-pattern-colourful-vasare-trend-design-textile-designers2.jpg)
		center center;
}

/*---------------------------- Footer */
