* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*--------------------------- Color palette 1 */
.color-palette-1 {
	color: #211930;
	color: #9da759;
	color: #f68658;
	color: #c7002f;
	color: #ccb9ab;
	color: #ebf5ee;
	color: #d06e95;
	color: #009aa9;
	color: #09070d;
	color: #002529;
}

.color-palette-2 {
	color: #002a52;
	color: #006594;
	color: #0088c2;
	color: #009efa;
	color: #dbfbff;
	color: #a8001f;
	color: #ff6d2e;
	color: #7ad7ff;
	color: #ff428e;
	color: #000b14;
}
/*---------------------------- Color palette 1 */

/*---------------------------- Navigation */

/* Top part of nav styling */
body > nav > div:nth-child(1) {
	background: url();
}

/* Whole nav stlying */
body > nav {
	background: #000b14;
}

/* Overide tachyon default dotted outline on .link */
.link:focus {
	transition: color 0.15s ease-in;
	outline: 1px none currentColor;
}

.sticky {
	position: fixed;
	top: 0%;
	width: 100%;
}

/*---------------------------- Navigation */

/*---------------------------- Header & showcase content */
#showcase {
	background: url(/images/product/AnitasKitchen-16.jpg) no-repeat center top
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #000b14;
}

/*---------------------------- Header & showcase content */

/*---------------------------- About section */
#about-section {
	margin-bottom: 20px;
}

.about-image {
	background: url(/images/people/AnitasKitchenBATCH2-18cropped.jpg) no-repeat
		center center;
	background-size: cover;
	width: 100%;
	height: auto;
}

/*---------------------------- About section */

/*---------------------------- Testimonials section */

#testimonial-section {
	background-color: #ff428e;
}
/* Social Container with Slider */
.social-slider {
	position: relative;
	/* border: 1px solid red; */
}

.social-slider .next {
	position: absolute;
	top: 50%;
	right: 40px;
	font-size: 2em;
	color: #333;
	cursor: pointer;
}

.social-slider .prev {
	position: absolute;
	top: 50%;
	left: 40px;
	font-size: 2em;
	color: #333;
	cursor: pointer;
}

.social-slider .social-wrapper {
	width: 84%;
	height: 420px;
	margin: 20px auto;
	overflow: hidden;
	/* border: 1px dashed red; */
}

.social-slider .social-wrapper .post {
	width: 84%;
	height: 350px;
	margin: 0px 10px;
	display: inline-block;
	background: white;
	border-radius: 5px;
}

.social-slider .social-wrapper .post .slider-image {
	width: 100%;
	min-height: 350px;
}

.social-wrapper .slick-initialized .slick-slider {
	margin-top: 0;
	margin-bottom: 0;
}
/*---------------------------- Testimonials section */

/*---------------------------- Arrow animation */

/* Hover.css */
/* Bob */
@-webkit-keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}
@keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}
@-webkit-keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}
@keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}
.hvr-bob {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: 0.3s, 1.5s;
	animation-duration: 0.3s, 1.5s;
	-webkit-animation-delay: 0s, 0.3s;
	animation-delay: 0s, 0.3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}

/* Hang */
@-webkit-keyframes hvr-hang {
	0% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
	50% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
	100% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
}
@keyframes hvr-hang {
	0% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
	50% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
	100% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
}

@-webkit-keyframes hvr-hang-sink {
	100% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
}
@keyframes hvr-hang-sink {
	100% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
}
.hvr-hang {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	color: #ffffff;
}
.hvr-hang:hover,
.hvr-hang:focus,
.hvr-hang:active {
	-webkit-animation-name: hvr-hang-sink, hvr-hang;
	animation-name: hvr-hang-sink, hvr-hang;
	-webkit-animation-duration: 0.3s, 1.5s;
	animation-duration: 0.3s, 1.5s;
	-webkit-animation-delay: 0s, 0.3s;
	animation-delay: 0s, 0.3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
	color: #ff6300;
}

/* Hover.css */

/*---------------------------- Arrow animation */

/* --------------------------- Menu */
#menu-section {
	margin-top: 12.15rem;
}
/* Overide Tachyon z-index class to position images behind nav on scroll */
.aspect-ratio--object {
	z-index: -1;
}

/* --------------------------- Menu */

/* --------------------------- Contact Form */

/* .container {
	max-width: 1280px;
	padding: 0 1.5rem;
	margin: 12rem auto auto;
	overflow: hidden;
} */
/* .text-center {
	text-align: center;
} */
/* 
.py-3 {
	padding: 3rem 0;
} */
#contact-section {
	margin-top: 12rem;
}
/* .lead {
	font-size: 1.3rem;
	margin-bottom: 2rem;
}

.section-title {
	font-size: 2rem;
	display: block;
	padding-bottom: 0.5rem;
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
} */

.bottom-line {
	height: 2px;
	width: 3rem;
	background: #ff428e;
	display: block;
	margin: 0 auto 1rem auto;
}

/* #contact-a .text-fields {
	display: grid;
	grid-template-areas: "name email" "subject phone" "message message";
	grid-gap: 1.2rem;
	margin-bottom: 1.2rem;
}
#contact-a .text-fields .name-input {
	grid-area: name;
}
#contact-a .text-fields .subject-input {
	grid-area: subject;
}
#contact-a .text-fields .email-input {
	grid-area: email;
}
#contact-a .text-fields .phone-input {
	grid-area: phone;
}
#contact-a .text-fields .message-input {
	grid-area: message;
}
#contact-a .text-fields .text-input {
	padding: 0.5rem 1rem;
}
#contact-a .text-fields .message-input {
	height: 100px;
}

#contact-a button[type="submit"] {
	width: 50%;
} */
/* --------------------------- Contact Form */

/*---------------------------- Footer */
footer {
	background-color: #000b14;
}
/*---------------------------- Footer */
