* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*--------------------------- Color palette 1 */
.color-palette-1 {
	color: #211930;
	color: #9da759;
	color: #f68658;
	color: #c7002f;
	color: #ccb9ab;
	color: #ebf5ee;
	color: #d06e95;
	color: #009aa9;
	color: #09070d;
	color: #002529;
}

/*---------------------------- Color palette 1 */
#hero-section {
	background-image: url(/images/AnitasKitchenBATCH2-18cropped.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 212px;

	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #09070d;
}
/*---------------------------- Navigation */

/* Overide tachyon default dotted outline on .link */
.link:focus {
	transition: color 0.15s ease-in;
	outline: 1px none currentColor;
}

.sticky {
	position: fixed;
	top: 0%;
	width: 100%;
}

/*---------------------------- Navigation */

/*---------------------------- Hero Image */

/*---------------------------- Hero Image */

/*---------------------------- Arrow animation */

/*---------------------------- Arrow animation */

/*---------------------------- Footer */

/*---------------------------- Footer */
